@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 800vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  padding: 1vw 2vw;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
  justify-content: space-between;
  background-color: #000;
}

nav h3 {
  display: none;
}

nav img {
  width: 150px;
  height: 50px;
}

#nav-part2 {
  display: flex;
  align-items: center;
  gap: 1vw;
}

#nav-part2 h4 {
  padding: 10px 20px;
  border: 1px solid #ffffff3c;
  border-radius: 50px;
  font-weight: 500;
  color: #000000bb;
  transition: all ease 0.4s;
  position: relative;
  font-size: 18px;
  overflow: hidden;
}

#nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #7C83FF;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 0;
}

#nav-part2 h4 a {
  color: #ffffffbb;
  text-decoration: none;
  position: relative;
  z-index: 9;
}

#nav-part2 h4:hover a {
  color: #000000;
}

section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.hero {
  background: url('./assets/01211.mp4') no-repeat 50% 50%;
  background-size: cover;
}

.outro {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #ffffff;
  font-size: 52px;
}

.sticky {
  position: relative;
  background-color: #ded8c8;
}

.sticky-header {
  position: sticky;
  top: 0;
  left: 0;
  width: 250vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
}

.sticky-header h1 {
  margin: 0;
  color: #000;
  font-size: 30vw;
  font-weight: lighter;
  letter-spacing: -0.05em;
  line-height: 100%;
}

.card {
  position: absolute;
  top: 10%;
  left: 100%;
  width: 350px;
  height: 450px;
  background-color: #000;
  border-radius: 1em;
  padding: 0.5em;
  will-change: transform;
  z-index: 2;
}

.card .card-img {
  width: 100%;
  height: 200px;
  border-radius: 0.5em;
  overflow: hidden;
}

.card-content {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #ffffff;
  gap: 10px;
}

.card-content h2 {
  font-size: 42px;
  font-weight: lighter;
  letter-spacing: 0.005em;
  margin: 5px 0;
}

.card-content p {
  font-size: 20px;
  font-weight: lighter;
  letter-spacing: 0.005em;
}

@media (max-width: 900px) {
  .nav-items {
    justify-content: flex-end;
  }
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  scroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}